*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

/* ========Navigation Menus======== */
.logo{
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
}
.nav-li{
    display: flex;
}
.nav-li a{
    color: whitesmoke;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav-li a:hover{
    border-bottom: 2px solid whitesmoke;
}
#menu-icon{
    color: aliceblue;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.intro-and-background{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left,#dc9557, #905c27,#382508);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;   
}
section{
    padding: 0 19%;
}
.intro-text h3{
    font-size: 35px;
    font-weight: 400;
    color: aliceblue;
    margin-bottom: 40px;
}
.intro-text h4{
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    margin: 0 0 45px;
}
.intro-text a{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: #382508;
    background-color: antiquewhite;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.intro-text a:hover{
    background: transparent;
    border: 1px solid antiquewhite;
    transform: translateX(7px);
    color: aliceblue;
}
.intro-text a.youtube{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: antiquewhite;
    background-color: transparent;
    border: 1px solid antiquewhite;
    padding: 12px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.intro-text a:hover{
    background: transparent;
    border: 1px solid antiquewhite;
    transform: translateX(7px);
    color: aliceblue;
}

/* =======Content Sites====== */
.content-and-background{
    height: 1400px;
    width: 100%;
    /* min-height: 100vh; */
    background: linear-gradient(to left,#dc9557, #905c27,#382508);
    /* position: relative; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 2rem;  
}
.nav-content{
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
}
.nav-content-li{
    display: flex;
}
.nav-content-li a{
    color: whitesmoke;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px transparent;
    transition: all .55s ease;
}
.nav-content-li a:hover{
    border-bottom: 2px solid whitesmoke;
}

/* =======Content Drawings====== */
.judul-content-drawings{
    margin-top: 100px;
    font-family: "Permanent Marker", cursive;
    font-weight: 600;
    font-size: 60px;
    font-style: normal;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content-image{
    padding: 7px;
    border-radius: 5px;
    background-color: #4a3119;
    margin: 0 auto;
}
.content-explanation{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content-and-background a{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: #382508;
    background-color: antiquewhite;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin: 0 auto;
}
.content-and-background a:hover{
    background: transparent;
    border: 1px solid antiquewhite;
    transform: translateX(7px);
    color: aliceblue;
    margin: 0 auto;
}
.content-contact{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    color: bisque;
    border-radius: 7px;
    background-color: #39270c;
}

/* ======FOOTER====== */
.footer{
    text-align: center;
    align-items: center;
    font-size: 30px;
    height: 30vh;
    background-color: #39270c;
}


@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: 0.2s;
    }
}
@media(max-width: 1340px){
    .intro-text h3{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media(max-width: 1195px){
    section{
        padding: 0 3%;
        transition: 0.2s;
    }
}